* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #231f20;
}

.background {
    width: 100%;
    height: 100px;
    background-color: #fcd05d;
    position: absolute;
}

.h-header h1 span{
    font-size: 1.3em;
}

.h-header {
    width: 100%;
    height: 100px;
    background-color: #fcd05d;
    font-family: Georgia;
    font-size: 1em;
}

.h-header .first-header {
    padding-top: 15px;
    padding-bottom: 5px;
    display: inline-block;
}

.first-header span {
    font-size: 1em;
    width: auto;
}

.search {
    margin-top: -5px;
    float: right;
    display: inline-block;
    border: 15px solid #333333;
    border-radius: 5px;
    background-color: #333333;
    width: 250px;
    text-align: center;
}

.search .submit {
    font-size: 1em;
    padding: 4px;
    color: #fcd05d;
    background-color: #777777;
    border-radius: 5px;
    height: 25px;
    border: none;

}

.bread-crumbs {
    display: inline-block;
    float: right;
    margin-top: -23px;
}

.search .input_text {
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-right: 10px;
    background-color: #fcd05d;
}

.bread-crumbs ul {
    margin-right: 20px;

}

.bread-crumbs ul li {
    float: right;
    display: inline-block;
    list-style: none;
    padding-right: 5px;
    font-size: 0.9em;
    padding-left: 2px;

}

.bread-crumbs li:not(:first-child) {
    border-right: 1px solid #333333;
}

.content {
    width: 91%;
    position: relative;
    left: 5%;
    }

.first-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.first-nav ul li:last-of-type {
    width: 12%;
}

.first-nav ul li {
    display: inline-block;
    list-style: none;
    border-left: 2px solid #333333;
    color: white;
    padding: 15px;
    width: 11%;
    text-align: center;

}

.first-nav ul li:hover {
    color: #fcd05d;
    cursor: pointer;
}

.second-nav {
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.second-nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;

}

.slider {
    width: 100%;
    border: 1px solid #333333;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper {
    background-color: white;
    padding: 5px;
}

.parent1{
    width: 50%;
}
.parent2{
    width: 25%;
}
.parent3{
    width: 25%;
}

.aligned {
    float: left;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.inline {

    margin-top: 10px;
    margin-bottom: 10px;
}

.video {

    margin-top: 10px;
    margin-bottom: 10px;
}

.inline-block .inline {
    width: 50%;
    display: table-cell;
    float: left;
}

hr {
    margin-top: 5px;
    margin-bottom: 15px;
}

.vertical {
    margin-bottom: 10px;
}

.vertical .title-table .title {
    margin-bottom: 15px;

}

.vertical .media-body {
    max-width: calc(100% - 155px);
    display: inline-block;
    font-size: 0.951em;
}

.vertical .media-img {
    width: 125px;
    height: 125px;
}

.media-body span {
    color: #CE4521;
}

.media-body p {
    padding-top: 10px;
    font-size: 0.921em;

}

hr {
    width: calc(100% - 20px);
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.inline img{
    width: 200px;
}
.inline-block img{
    width: 200px;
}

img {
    padding: 5px;
    width: 260px;
    height: 80px;
    vertical-align: top;
}

.end {
    color: #ce4521;
    padding-top: 20px;
    width: 100%;
}

.list li {
    color: #ce4521;
    list-style-type: none; /* Убираем маркеры у списка */
}

.list li:before {
    content: "»"; /* Добавляем в качестве маркера символ */
}

.item {
    width: 100% !important;
}

.lSSlideWrapper ul li img {
    width: 550px !important;
    height: 280px !important;
}


.lSGallery {
    left: 500px;
    bottom: 50px;
}

.lSGallery li {
    display: inline-block;
}

.my-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 550px;
    vertical-align: top;
    overflow: hidden;
}

.my-wrapper ul{
    margin-top: 190px !important;
    padding-left: 20px;
    background-color: #111111;

}
.my-wrapper ul li img {
    width: 90px;
    height: 60px;
    border: 1px solid #575757;
    border-radius: 4px;
}

.inline-slider {
    max-width: 550px !important;
    display: inline-block !important;
}

.left-text {
    color: white;
    left: 50px;
    position: relative;
    bottom: 200px;
}
.slide-text{
    display: none;
}
#slide-text{
    color: white;
    padding: 20px;
    position: absolute;
}

#slide-text span{
    font-size: 1.2em;
}

#slide-text p{
    padding-top: 10px;
    font-size: 0.85em;
}
#slide-text a{
    color: #FCD05D;
    float: right;
}

.quick-links,.info{
    color: white;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 40px;
    width: 20%;

}
.quick-links ul{
    padding-top: 25px;
    list-style: none;
    color: #979797;

}
.info ul{
    padding-top: 25px;
    list-style: none;
    color: #979797;

}
.quick-links li:before {
    content: "» "; /* Добавляем в качестве маркера символ */
}
.footer{
    border-top: 5px solid #ce4521;
    width: 100%;
}
.connect{
    border-left: 2px solid #f2f2f2;
    max-width: 55%;
    width: 40%;
    margin-top: 10px;
    padding-top: 10px;

    padding-left: 10px;
    color: white;
}
.connect ul{
    list-style: none;
    margin-top: 20px;
    padding-bottom: 25px;
    color: #333333;
}
.connect li{
    display: inline-block;
}
.connect input{
   margin-top: 20px;
}
.connect img{
    width: 50px;
    height: 50px;
    border: 0 solid #ddd;
    border-radius: 50%;
}
.sign_up{
    margin-left: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
.email{
    width: 200px;
    height:  30px;
    border: none;
    border-radius: 5px;
}
.last_hr{
    margin-top: 25px;
}
.copyright{
    color: white;
}
.right-templ{
    float: right;
    color: white;
    padding-right: 20px;
}